{% extends 'base.html.twig' %}

{% block title %}liste formations
{% endblock %}

{% block body %}

	<h1>Bienvenue {{ app.user.pseudo}},  chez Elle et An formation !</h1>

	<h2>Voici nos formations, cliquer sur celle qui vous intéresse pour connaitre les prochaines sessions</h2>

	

	{% for formation in formations %}
		<div class="d-grid gap-3">
			<div class="p-2 bg-light border">
				<a class="lienCategorie" href="{{ path('show_formation', {'id': formation.id}) }}">{{formation}}</a>
				<a class="lienCategorie" href="{{ path('update_formation', {'id' : formation.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                <a  href="{{ path('delete_formation', {'id' : formation.id}) }}"><i class="fa-solid fa-trash"></i></a>
			</div>
		</div>
		<br>
	{% endfor %}
{% endblock %}
