{% extends 'base.html.twig' %}

{% block title %}
	Détail du Stagiaire
{% endblock %}

{% block body %}

	<h1>{{stagiaire}}
		:</h1>

	<div class="detailStagiaireAlign">
		<h4>Détail du stagiaire :</h4>
		Sexe :
		{{stagiaire.sexe}}
		<br>
		Ville :
		{{stagiaire.ville}}
		<br>
		Date de naissance :
		{{stagiaire.dateNaissance | date('d/m/Y')}}
		<br>
		E-mail :
		{{stagiaire.email}}
		<br>
		Téléphone
		{{stagiaire.telephone}}
		<br>
	</div>
    <br>
	<br>
	<br>
	<h4>Session(s) du stagiaire :</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Formation</th>
				<th scope="col">Session</th>
				<th scope="col">Place disponible</th>
				<th scope="col">Date de début</th>
				<th scope="col">Date de fin</th>
			</tr>
		</thead>
		<tbody>
			{% for sessions in stagiaire.sessions %}
				<tr>
					<td>{{sessions.formation}}</td>
					<td>{{sessions}}</td>
					<td>{{sessions.place}}</td>
					<td>{{sessions.dateDebut | date('d/m/Y')}}</td>
					<td>{{sessions.dateFin | date('d/m/Y')}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
