{% extends 'base.html.twig' %}

{% block title %}
	Détail de la session.
{% endblock %}

{% block body %}

	<h1>Session
		{{session}}</h1>

	<div class="detailSessionFlex">
		<div class="detailSession">
			<h4>Détail de la session :</h4>
			Places totales :
			{{ session.place }}
			<br>
			Place(s) disponible(s) :
			{{session.placeDispo}}
			<br>
			Date de début :
			{{session.dateDebut | date('d/m/Y')}}
			<br>
			Date de fin :
			{{session.datefin | date('d/m/Y')}}
			<br>
		</div>

		<div class="detailSession">
			<h4>Stagiaire(s) inscrit :</h4>
			{% for stagiaire in session.stagiaires %}
				<ul>
					<li>{{stagiaire}} <a href="{{ path('desincrire', {'idStagiaire': stagiaire.id, 'idSession': session.id }) }}">Désincrire</a></li>
				</ul>
			{% endfor %}
		</div>
	</div>
	<h4>Programme :</h4>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Catégorie</th>
				<th scope="col">Module</th>
				<th scope="col">Temps du Module</th>
			</tr>
		</thead>
		<tbody>
			{% for moduler in session.modulers %}
				<tr>
					<td>{{moduler.cours.categorie}}</td>
					<td>{{moduler.cours}}</td>
					<td>{{moduler.nbJoursCours}}
						Jours</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	<br>

	<h4>Liste des stagiaires non-incrit</h4>
		<div class="detailSession">
			{% if session.placeDispo == 0 %}
				<p>Plus de places disponibles !</p>
			{% else %}
				{% for stagiaire in stagiaires %}
					<ul>
						<li>{{stagiaire}}</li><a href="{{ path('inscrire', {'idStagiaire': stagiaire.id, 'idSession': session.id }) }}">inscrire à la session</a></li>
					</ul>
				{% endfor %}
			{% endif %}
		</div>
{% endblock %}
