{% extends 'base.html.twig' %}

{% block title %}
	Programme
{% endblock %}

{% block body %}

	<h4>Programme :</h4>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Catégorie</th>
				<th scope="col">Module</th>
				<th scope="col">Temps du Module</th>
				<th scope="col">Modifier</th>
				<th scope="col">Supprimer</th>
			</tr>
		</thead>
		<tbody>
			{% for moduler in moduler %}
				<tr>
					<td>{{moduler.cours}}</td>
					<td>{{moduler.session}}</td>
					<td>{{moduler.nbJoursCours}}Jours</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>
							<a href="{{ path('update_moduler', {'id' : moduler.id}) }}">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
						</td>
						<td>
							<a href="{{ path('delete_moduler', {'id' : moduler.id}) }}">
								<i class="fa-solid fa-trash"></i>
							</a>
						</td>
						{% else %}
						<td style="color: red; font-weight : bold;">Admin only !</td>
						<td style="color: red; font-weight : bold;">Admin only !</td>
					{% endif %}

				</tr>
			{% endfor %}
		</tbody>
	</table>
	<br>
	{% if is_granted('ROLE_ADMIN') %}
		<a href="{{ path('add_moduler') }}">
			<button class="button">Ajouter d'un programme
			</button>
		</a>
		{% else %}
	{% endif %}
{% endblock %}
