{% extends 'base.html.twig' %}

{% block title %}
	Détail de la categorie.
{% endblock %}

{% block body %}

<h1>Les cours de la categorie
	{{categorie}}</h1>
{% if is_granted('ROLE_ADMIN') %}
	<a href="{{ path('add_cours') }}">
		<button class="button">Ajouter un cours</button>
	</a>
	{% else %}
{% endif %}


<h4>Cours actuels :</h4>
{% for cours in categorie.cours %}
	<div class="d-grid gap-3">
		<div class="p-2 bg-light border">
			<ul>
				<li>{{cours}}</li>
				{% if is_granted('ROLE_ADMIN') %}
					<a class="lienCategorie" href="{{ path('update_cours', {'id' : cours.id}) }}">
						<i class="fa-solid fa-pen-to-square"></i>
					</a>
					<a href="{{ path('delete_cours', {'id' : cours.id}) }}">
						<i class="fa-solid fa-trash"></i>
					</i>
					{% else %}
				{% endif %}
			</a>
		</ul>
	</div>
</div>{% endfor %}{% endblock %}
